/*CSS Reset*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open sans' , sans-serif;
}


nav {
    position: sticky;
    top: 0px;
    padding: 10px 10px;
    background-color: white;
    z-index: 5;
}

.nav-logo {
    display: inline;
    padding-left: 70px;
}

.right-nav {
    display: inline-block;
    list-style-type: none;
    float: right;
    padding-right: 7%;
}

.nav {
    display: inline;
    margin: 15px;
}

.tuitt-button {
    background-color: #c2195b;
    padding: 10px 20px;
    border-radius: 150px;
    color: white;
    font-weight: bold;
}



#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	min-height: 100vh;
	background-size: cover;
background-position: center;
	opacity: 90%;
	background-color: gray;
	background-blend-mode: multiply;
	display: block;
}





.title {
	font-size: 2.5rem;
	margin-top: 50px;
	color: white;
	padding: 1rem;
	padding-left: 60%;
}

.subtitle {
	font-size: 1rem;
	padding-left: 60%;
	color: white;
	margin-right: 10px;
}

.apply-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
	margin-right: 25px;
	float: right;
}

.title , .title-2 {
	font-family: 'Zilla Slab', sans-serif;
}


.title-2 {
	text-align: center ;
	margin: 2rem;
}

section {
	text-align: center;
}



.pre-footer-description {
	padding: 10px;
}

.book-button {
	color: white;
	font-weight: bold;
	background-color: #336589;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;

}

footer {
	margin-top: 15%;
	text-align: center;
}